<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Anikey. Is uses data from mapbox.com and weatherstack.com!</p>
        <img src="img/bird.png">
    </div>
    {{>footer}}
</body>

</html>